// Generic styling.
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}
